# Spotify Developer Credentials
# Dapatkan di: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here

# Spotify Auth & API Endpoints
SPOTIFY_AUTH_URL=https://accounts.spotify.com/api/token
SPOTIFY_AUTHORIZATION_URL=https://accounts.spotify.com/authorize
NEXT_PUBLIC_SPOTIFY_API_URL=https://api.spotify.com/v1

# Redirect URI (Harus didaftarkan di Spotify Dashboard)
# Contoh untuk development: http://127.0.0.1:3000/api/auth/callback/spotify
SPOTIFY_REDIRECT_URI=your_redirect_uri_here

# NextAuth Configuration
# Generate secret pakai command: openssl rand -base64 32
NEXTAUTH_SECRET=your_next_auth_secret_here
NEXTAUTH_URL=http://localhost:3000